* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background: #fff0e5;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  padding: 20px 40px;
  margin: 0 auto;
}

.scores {
  background-color: white;
  display: flex;
  border: 3px solid;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  padding: 20px;
}

.scores:hover {
  box-shadow: -5px 5px;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

h2 {
  font-family: sans-serif;
  font-size: 30px;
  margin: 20px 0;
}

form input {
  background: none;
  border: 2px solid black;
}

.bdAdd {
  background-color: white;
  display: flex;
  width: 400px;
  flex-direction: column;
  border: 3px solid;
  align-items: center;
  padding: 20px;
}

.bdAdd:hover {
  box-shadow: -5px 5px;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  transition-delay: 100ms, 100ms;
}

.bdAdd h2 {
  padding-bottom: 16px;
}

.bghead {
  font-family: 'Apercu', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.bghead i {
  padding-right: 13px;
}

.bghead button {
  text-align: center;
  background: none;
  border: 2px solid black;
  padding: 5px 40px;
}

.bdAdd input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bghead button:hover {
  box-shadow: -3px 3px;
  transition: 300ms;
}

.bghead button:active {
  box-shadow: -0.5px 0.5px;
  transition: 300ms;
}

h1 {
  color: #183153;
  font-family: 'Apercu', sans-serif;
  text-align: center;
  font-size: 60px;
  margin: 60px 40px;
}

#list {
  font-family: sans-serif;
  width: 100%;
  padding: 0;
  border: 2px solid black;
}

.bdList ol li {
  list-style: none;
  padding: 5px;
}

.bdList ol li:nth-of-type(even) {
  background-color: lightgray;
}

.bdList li .score {
  text-align: right;
  float: right;
}

form {
  display: flex;
  width: 200px;
  flex-direction: column;
  gap: 20px;
}

form input[type="text"] {
  padding: 10px 3px;
}

form input[type="button"] {
  background: none;
  border: 2px solid black;
  align-self: flex-end;
  padding: 5px 20px;
}

form input[type="button"]:hover {
  box-shadow: -3px 3px;
  transition: 300ms;
}

form input[type="button"]:active {
  box-shadow: 0.5px 0.5px;
}

.validation {
  display: none;
  color: red;
  font-size: 11px;
  font-family: sans-serif;
}

.spanner {
  font-family: sans-serif;
  font-size: 20px;
}

@media (max-width: 1008px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .scores {
    width: 100%;
  }

  .bdAdd {
    width: 100%;
  }
}
